.page-link {
  background-color: transparent;
  color: white;
  font-weight: 900;
  padding: 10px 35px;
  transition: all 300ms ease-in-out;
}

.page-link-active {
  color: black;
  background-color: white;
}

.page-link:hover {
  color: black;
}