.page-title {
  font-family: 'Poller One', cursive;
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}

.page-title:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 60px;
  }
}