.page-title {
  font-family: 'Poller One', cursive;
  font-size: 60px;
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}

.page-title:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: .8;
}