.wrapper {
  background-color: black;
}

.title {
  color: #FFD504;
  font-family: 'Poller One', cursive;
  font-size: 25px;
  line-height: 1;
}

.text {
  color: #FFD504;
  font-family: 'Poller One', cursive;
  font-size: 20px;
}